body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.menu{
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: #e8491d;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li{
    margin: 0 15px;
}

.menu ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a:hover{
    text-decoration: underline;
}

.content{
    padding: 20px;
}
.content h2{
    color: #333333;
}
.content p{
    line-height: 1.6;
    color: #666666;
}   

.content-div{
 	background-color: #green;   
}
.footer{
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}